$BG_COLOR: rgb(22, 28, 36);
$BG_COLOR_TRANSPARENT: rgba(22, 28, 36, 0.72);
$LIGHT_GRAY: rgb(33, 43, 54);
$LIGHTER_GRAY: rgb(99, 115, 129);

$TEXT_COLOR_PRIMARY: rgb(255,255,255);
$TEXT_LIGHT_GRAY: rgb(145, 158, 171);

$ACCENT_LIGHT_BLUE: rgb(28, 202, 255);
$ACCENT_DARK_BLUE: rgb(5, 61, 122);
$ACCENT_GREEN: rgb(84, 214, 44);
$ACCENT_YELLOW: rgb(255, 193, 7);
$ACCENT_RED: rgb(255, 72, 66);

$FONT_FAMILY: "Public Sans", sans-serif;
$FONT_SIZE_L: 1.5 rem;
$FONT_SIZE_M: 0.875 rem;
$FONT_SIZE_HEADER: 1.25 rem;