@import "src/styling/BREAKPOINTS";
@import "src/styling/CONSTANTS";
$HEADER_HEIGHT: 30px;
$HEADER_HEIGHT_XL: 50px;
.container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  background-color: $MAIN_BG_COLOR;
  border-radius: 0 0 15px 15px;
  height: $HEADER_HEIGHT;
  padding-top: 20px;
  padding-bottom: 20px;
  @include BREAKPOINT-SM {
    padding-top: 30px;
  }

  .gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: $HEADER_HEIGHT;
  }

  .logo {
    grid-column: 2;
    max-width: 100%;
    max-height: $HEADER_HEIGHT;
    @include BREAKPOINT-SM {
      max-height: $HEADER_HEIGHT_XL;
    }
  }

  .clickable {
    cursor: pointer;
  }
}